header {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

    header li {
        display: inline;
        margin-right: 1rem;
    }

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: red;
        border-bottom: thin solid red;
    }

#govde {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

    #govde div img {
        width: 100%;
    }
