@model IEnumerable<Entities.Product>

@{
    ViewBag.Title = ViewBag.KategoriAdi;
}

<h2>@ViewBag.KategoriAdi</h2>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model)
            {
                @Html.Partial("_PartialProduct", item)
            }

        </div>
    </div>
</div>